header{
    background: rgba(0, 0, 0, 0.3);
}

.lista-menu{
    display: flex;
    justify-content: space-around;
    padding: 3%;
    box-shadow: none;
    width: 50%;
}

.botao-menu{ 
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: none;
    font-weight: bold;
}

.botao-menu:hover{
    text-decoration: underline ;
    cursor: pointer;
}

body{
    background: url('../image/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.teclado{
    text-align: center;
    margin: 0 auto;
}


